#position, #absolute, #fixed {
    background-color: darksalmon;
    border: 2px solid gray;
}
.div{
    height: 300px;
    border: 2px solid black;
}
.top{
    position: relative;
    top: 5px;
}
.right {
    position: relative;
    right: 5px;
  }
  
  .bottom {
    position: relative;
    bottom: 5px;
  }
  
  .left {
    position: relative;
    left: 5px;
  }
  .top2{
      position: relative;
      top: 20%;
  }
  .right2 {
    position: relative;
    right: 5%;
  }
  
  .bottom2 {
    position: relative;
    bottom: -50%;
  }
  
  .left2 {
    position: relative;
    left: 50%;
  }
  .absolute {
    position: absolute;
    right: 500px;
    width: 80px;
    height: 50px;
  }
  
  .parent {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .child {
    position: absolute;
    right: 0;
  }
  .fixed{
      position: fixed;
      right: 15px;
  }
  .background{
      background-color: greenyellow;
      border: 5px solid navy;
  }
  .bg-color{
      background-color: rgba(238, 178, 178, 0.5);
      border: 1px solid black;
      width: 20%;
      height: 50px;
  }
  .bg-image{
      background-image: url("img3.jpeg");
      background-size: 100% 100%;
      width: 200px;
      height: 200px;
      border: 1px solid black;
  }
  .bg-repeat{
    background-image: url("img3.jpeg");
    height: 200px;
    border: 1px solid black;
    background-repeat: repeat;
  }
  .bg-repeat-x{
    background-image: url("img3.jpeg");
    height: 100px;
    border: 1px solid black;
    background-repeat: repeat-x;
  }
  .bg-repeat-y{
    background-image: url("img3.jpeg");
    height: 200px;
    border: 1px solid black;
    background-repeat: repeat-y;
  }
  .border-ex{
    padding: 5px;
    margin: 5px;
    border: 4px dotted green;
    border-left: double tomato;
    border-bottom: 5px solid blue;
    border-right: 3px dashed brown ;
  }
  .border-radius{
    display: inline-block;
    width: 200px;
    height: 100px;
    border-radius: 10%;
    background-color: #039BE5;
	border: 2px solid #01579B;
  }
  .border-radius2{
    display: inline-block;
    width: 200px;
    height: 100px;
    border-radius: 20px 0 10px 50px;
    background-color: #039BE5;
	border: 2px solid #01579B;
  }
  .border-ex2{
    border: 15px outset pink;
    outline: 10px solid khaki;
    box-shadow: 0 0 0 30px skyblue;
    border-radius: 12px;
    margin: 50px;
    padding: 10px;
    outline-offset: 10px;
  }
  .mother{
    width: 400px;
    border: 2px solid red
  }
  .a{
      max-width: 100%;
  }
  .father{
    width: 200px;
    height: 100px;
    border: 2px solid red
  }
  .b{
    max-height: 50%;
  }
  .c{
    min-width: 300px;
    min-height: 100px;
}
.small{
    background-color: turquoise;
    width: 50%;
}
@media (max-width: 800px) {
    .small {
      background-color: tomato;
    }
  }
  .cursors span{
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: violet;
    border: 3px solid slateblue;
  }
  .transform1{
      width: 200px;
      height: 200px;
      background-color: rgb(76, 146, 226);
      transform: translate(200px, 30px);
      transition-property: all;
      transition-duration: 2s;
      transition-delay: 4s;
  }
  .transform2{
    width: 200px;
    height: 200px;
    background-color: rgb(76, 146, 226);
    transform: rotate(30deg);
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 5s;
}
.transform3{
    width: 200px;
    height: 200px;
    background-color: rgb(76, 146, 226);
    transform: scale(0.5, 0.5);
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 6s;
}
.transition {
    width: 64px;
    height: 64px;
    background-color: silver;
    border-radius: 100%;
    transition: all ease 2s 0s;
}
input:checked ~ .transition {
    width: 100%;
    height: 200px;
    border-radius: 0;
    background-color: gold;
}
.object-fit{
    border: 3px solid black;
    width: 300px;
    height: 300px;
}
.fill{
    width: 300px;
    height: 300px;
    object-fit: fill;
}
.contain{
    width: 300px;
    height: 300px;
    object-fit: contain;
}
.cover{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.none{
    width: 300px;
    height: 300px;
    object-fit: none;
}
.class{
    background-color: skyblue;
}
#id{
    background-color: navajowhite;
}
p{
    background-color: red !important;
    font-size: 30px;
}